body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('im.jpg');
    background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 1000;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  .crime-system-box {
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
  }
  .crime-system-box h2 {
    margin-top: 0;
    font-size: 32px;
  }
  
  .crime-system-box p {
    font-size: 18px;
  }

  .contact-us {
    color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  .contact-us h2 {
    color: #333;
  }
  
  .contact-us p {
    color: #333;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}