<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Records</title>
    {% load static %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='{% static 'style.css' %}' rel='stylesheet'>
</head>
<body>
    <!-- Side Section -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs' style="margin-right:-40px;"></i>
            <span class="text">Crime Records</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="#" data-target="dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" data-target="city">
                    <i class='bx bxs-city'></i>
                    <span class="text">City vise</span>
                </a>
            </li>
            <li>
                <a href="#" data-target="analytics">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Analytics</span>
                </a>
            </li>
            <li>
                <a href="#" data-target="Accept_Reject">
                    <i class='bx bx-check-shield'></i>
                    <span class="text">New FIR</span>
                </a>
            </li>
			<li>
                <a href="#" data-target="rejected">
                    <i class='bx bx-shield-x'></i>
                    <span class="text">Rejected FIR</span>
                </a>
            </li>
			<li>
                <a href="#" data-target="i_charge_sheet">
                    <i class='bx bx-file-blank'></i>
                    <span class="text">Incomplete Charge Sheet</span>
                </a>
            </li>
			<li>
                <a href="#" data-target="c_charge_sheet">
                    <i class='bx bx-file-blank'></i>
                    <span class="text">Complete Charge Sheet</span>
                </a>
            </li>
            <li>
                <a href="#" data-target="team">
                    <i class='bx bxs-group'></i>
                    <span class="text">Team</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- Base Section -->
    <section id="content">
        <nav>
            <form action="#">
            </form>
			<li style="margin-top:8px;">
				<a href="/logout_police/" class="logout">
					<i class='bx bx-log-out-circle' style="font-size:20px;"></i>
					<span class="text" style="font-size:20px;">Logout</span>
				</a>
			</li>
			<a href="#" class="notification" data-target="Accept_Reject">
				<i class='bx bxs-bell' ></i>
				<span class="num">{{ new_fir }}</span>
			</a>
			<a href='{% url 'profile' %}' class="profile">
				<img src='{% static 'police.png' %}'>
			</a>
        </nav>
        <main id="main-content">
            <!-- Initial Content Here -->
			<div id="content-container">
            </div>
        </main>
    </section>

	<!-- Main Section -->
    <script>
        document.querySelectorAll('#sidebar .side-menu a','#content a').forEach(link => {
            link.addEventListener('click', event => {
                event.preventDefault();
                const target = link.getAttribute('data-target');
                loadContent(target);
            });
        });
		document.querySelector('.notification').addEventListener('click', event => {
            event.preventDefault();
            const target = document.querySelector('.notification').getAttribute('data-target');
            loadContent(target);
        });

        function loadContent(target) {
            const mainContent = document.getElementById('main-content');
            let content = '';

            switch(target) {
                case 'dashboard':
                    content = `
							{% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} " role="alert" onclick="redirectToHome()">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                        	{% endif %}
								<div class="head-title" id="dashboard">
							<div class="left">
								<h1>Dashboard</h1>
							</div>
						</div>
						<ul class="box-info">
							<li>
								<i class='bx bxs-group'></i>
								<span class="text">
									<h3>{{ total_count }}</h3>
									<p>Total Crimes</p>
								</span>
							</li>
							<li>
								<i class='bx bxs-city'></i>
								<span class="text">
									<h3>{{ city_count }}</h3>
									<p>Cities</p>
								</span>
							</li>
							<li>
								<i class='bx bx-calendar'></i>
								<span class="text">
									<h3>{{ month_count }}</h3>
									<p>Crimes in this month</p>
								</span>
							</li>
						</ul>
						<div class="table-data">
							<div class="order">
								<div class="head">
									<h3>Recent Crime Registered</h3>
								</div>
								<div >
									<form method="GET" action="{% url 'search' %}" class="form-input">
										<input type="search" placeholder="Search..." id="search" name="query">
										<button type="submit" class="search-btn">
											<i class='bx bx-search'></i>
										</button>
									</form>
								</div>

								<div class="table-data">
							<table style="width: 100%; border-collapse: collapse;">
								<thead style="background-color: #f2f2f2;">
									<tr>
                                        <th>User (Registered FIR)</th>
										<th>Name of Accused</th>
										<th>Date of Birth</th>
										<th>City of Incident</th>
										<th>Date of Incident</th>
										<th>Details</th>
										<th>Nationality</th>
										<th>Address</th>
										<th>Contact</th>
									</tr>
								</thead>
							<tbody>
								{% for row in data %}
								<tr>
                                    <td>{{ row.user.first_name }}</td>
									<td>{{ row.cname }}</td>
									<td>{{ row.cdob }}</td>
									<td>{{ row.ccity }}</td>
									<td>{{ row.cdateincident }}</td>
									<td>{{ row.cdetails }}</td>
									<td>{{ row.cnationality }}</td>
									<td>{{ row.caddress }}</td>
									<td>{{ row.ccontact }}</td>

								</tr>
								{% empty %}
								<tr>
									<td colspan="5">No results</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
							</div>
						</div>
                    `;
                    break;
				case 'city':
                    content = `
                        <div class="head-title">
                            <div class="left">
                                <h1>City vise</h1>
                            </div>
                        </div>
                        <div class="table-data">
                            <div class="order" style="margin-right:260px;">
                                <div class="head">
                                    <h3>Crime Registered City Wise</h3>
                                </div>
								<table>
                					<thead>
										<tr>
											<th>SR. No.</th>
											<th>City</th>
											<th>Number of Cases</th>
										</tr>
									</thead>
									<tbody>
										{% for citi in city %}
										<tr>
											<td>{{ forloop.counter }}</td>  <!-- SR. No. using forloop.counter -->
											<td>{{ citi.ccity }}</td>     <!-- City name -->
											<td>{{ citi.total_users }}</td>  <!-- Number of cases -->
										</tr>
										{% endfor %}
									</tbody>
								</table>

                	`;
                	break;

                case 'analytics':
					content = `
						<div class="head-title">
						<div class="left">
							<h1>Analytics</h1>
							<a href={% url 'analyzedata' %}>
						</div>
						</div>
						<div class="analytics-content">
						<h1>Crime Statistics Graph</h1></a>
						<br>
						<div class="image-gallery">
							<img src="/static/plots/bar1.png" alt="Image 1" class="gallery-image">
							<img src="/static/plots/histo.png" alt="Image 2" class="gallery-image">
							<img src="/static/plots/pie1.png" alt="Image 3" class="gallery-image">
						</div>
						</div>
					`;
                    break;
                
				case 'Accept_Reject':
					content = `
                        <div class="table-data">
                            <div class="order">
                                <div class="head">
                                    <h3>New FIR</h3>
                                </div>
                                <div class="table-data">
                                    <table style="width: 100%; border-collapse: collapse;">
                                        <thead style="background-color: #f2f2f2;">
                                            <tr>
                                                <th>Name of Accused</th>
                                                <th>Date of Birth</th>
                                                <th>City of Incident</th>
                                                <th>Date of Incident</th>
                                                <th>Details</th>
                                                <th>Nationality</th>
                                                <th>Address</th>
                                                <th>Contact</th>
                                                <th>Status</th>
												<th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in data %}
											{% if row.a_r == None %}
                                            <tr>
                                                <td>{{ row.cname }}</td>
                                                <td>{{ row.cdob }}</td>
                                                <td>{{ row.ccity }}</td>
                                                <td>{{ row.cdateincident }}</td>
                                                <td>{{ row.cdetails }}</td>
                                                <td>{{ row.cnationality }}</td>
                                                <td>{{ row.caddress }}</td>
                                                <td>{{ row.ccontact }}</td>
                                                <td>
                                                <a href='{% url 'accept' row.id %}' style="display: inline-block; padding: 2px 2px; background-color: green; color: white; border-radius: 4px;">
                                                accept
                                                </a>
												<a href={% url 'reject' row.id %} style="display: inline-block; padding: 2px 2px; background-color: red; color: white; border-radius: 4px;">
                                                reject
                                                </a>
                                                </td>
												<td>
                                                <a href='{% url 'charge_complete' row.id %}' style="display: inline-block; color: blue;">
                                                View
                                                </a>
                                                </td>
                                            </tr>
											{% endif %}
											{% empty %}
                                            <tr>
                                                <td colspan="5">No recent crimes registered.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>`;
					break;

				case 'rejected':
					content =  `
						<div class="table-data">
						<div class="order">
							<div class="head">
								<h3>Rejected FIR</h3>
							</div>
							<div class="table-data">
								<table style="width: 100%; border-collapse: collapse;">
									<thead style="background-color: #f2f2f2;">
										<tr>
											<th>Name of Accused</th>
											<th>Date of Birth</th>
											<th>City of Incident</th>
											<th>Date of Incident</th>
											<th>Details</th>
											<th>Nationality</th>
											<th>Address</th>
											<th>Contact</th>
											<th>Status</th>
											<th>View Remark</th>
										</tr>
									</thead>
									<tbody>
										{% for row in data %}
										{% if row.id in rejected %}
										<tr>
											<td>{{ row.cname }}</td>
											<td>{{ row.cdob }}</td>
											<td>{{ row.ccity }}</td>
											<td>{{ row.cdateincident }}</td>
											<td>{{ row.cdetails }}</td>
											<td>{{ row.cnationality }}</td>
											<td>{{ row.caddress }}</td>
											<td>{{ row.ccontact }}</td>
											<td>
											<span style="display: inline-block; padding: 2px 2px; background-color: red; color: white; border-radius: 4px;">
											Rejected
											</span>
											</td>
											<td>{{ row.remark }}</td>
										</tr>
										{% endif %}
										{% empty %}
										<tr>
											<td colspan="5">No recent crimes registered.</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						</div>`;
					break;

				case 'i_charge_sheet':
					content =  `
						<div class="table-data">
						<div class="order">
							<div class="head">
								<h3>Charge Sheet Details (Incomplete)</h3>
							</div>
							<div class="table-data">
								<table style="width: 100%; border-collapse: collapse;">
									<thead style="background-color: #f2f2f2;">
										<tr>
											<th>Name of Accused</th>
											<th>Date of Birth</th>
											<th>City of Incident</th>
											<th>Date of Incident</th>
											<th>Details</th>
											<th>Nationality</th>
											<th>Address</th>
											<th>Contact</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for row in incomplete %}
											<tr>
												<td>{{ row.cname }}</td>
												<td>{{ row.cdob }}</td>
												<td>{{ row.ccity }}</td>
												<td>{{ row.cdateincident }}</td>
												<td>{{ row.cdetails }}</td>
												<td>{{ row.cnationality }}</td>
												<td>{{ row.caddress }}</td>
												<td>{{ row.ccontact }}</td>
												<td>
												<span style="display: inline-block; padding: 2px 2px; background-color: green; color: white; border-radius: 4px;">
												Accepted
												</span>
												<a href="{% url 'charge' row.id %}" style="display: inline-block; padding: 2px 2px; background-color:red; color: white; border-radius: 4px;">
												Charge sheet Incomplete
												</span>
												</td>
											</tr>
											{% empty %}
											<tr>
												<td colspan="5">No recent Crimes were Accepted.</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						</div>
						`;
					break;

				case 'c_charge_sheet':
					content =  `
						<div class="table-data">
						<div class="order">
							<div class="head">
								<h3>Charge Sheet Completed Details</h3>
							</div>
							<div class="table-data">
								<table style="width: 100%; border-collapse: collapse;">
									<thead style="background-color: #f2f2f2;">
										<tr>
											<th>Name of Accused</th>
											<th>Date of Birth</th>
											<th>City of Incident</th>
											<th>Date of Incident</th>
											<th>Details</th>
											<th>Nationality</th>
											<th>Address</th>
											<th>Contact</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for c in charge %}
										{% for row in data%}
										{% if row.id|stringformat:"s" == c.main_user|stringformat:"s" and row.a_r and c.t_f %}
										<tr>
											<td>{{ row.cname }}</td>
											<td>{{ row.cdob }}</td>
											<td>{{ row.ccity }}</td>
											<td>{{ row.cdateincident }}</td>
											<td>{{ row.cdetails }}</td>
											<td>{{ row.cnationality }}</td>
											<td>{{ row.caddress }}</td>
											<td>{{ row.ccontact }}</td>
											<td>
											<span style="display: inline-block; padding: 2px 2px; background-color: green; color: white; border-radius: 4px;">
											Charge sheet Complete
											</span>
											<a href="{% url 'charge_complete' row.id %}" style="display: inline-block; padding: 2px 2px; background-color:blue; color: white; border-radius: 4px;">
											View
											</a>
											</td>
										</tr>
										{% endif %}
										{% empty %}
										<tr>
											<td colspan="5">No recent crimes registered.</td>
										</tr>
										{% endfor %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						</div>`;
					break;

                case 'team':
                    content =  `
						<div class="head-title">
						<div class="left">
							<h1>Team</h1>
						</div>
						</div>
						<div class="team-members">
						<div class="team-member">
							<img src="/static/boys.avif" alt="Team Member 1" class="team-member-image">
							<h3>Chaitanya Thakre</h3>
							<p>Role: Project Manager</p>
							<p>Email: chaitanyathakre132@gmail.com</p>
						</div>
						<div class="team-member">
							<img src="/static/girls.jpg" alt="Team Member 2" class="team-member-image">
							<h3>Pranita Bobade</h3>
							<p>Role: Developer</p>
							<p>Email: pranitabobade24@gmail.com</p>
						</div>
						<div class="team-member">
							<img src="/static/girls.jpg" alt="Team Member 3" class="team-member-image">
							<h3>Kaveri Aher</h3>
							<p>Role: Designer</p>
							<p>Email: kaveriaher15@gmail.com</p>
						</div>
						</div>
					`;
                	break;
            }
            mainContent.innerHTML = content;
        }
		loadContent('dashboard');
		function redirectToHome() {
            window.location.href = "{% url 'home_police' %}";
        }
    </script>
</body>
</html>
